@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Cedarville+Cursive&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Cedarville+Cursive&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
	margin: 0%;
}
body{
	height: 100vh;
	width: 100%;
	background: var(--primary-color);
}
.verytop{
	background: var(--primary-color);
}
.main,.downmain{
	background: var(--primary-color);
	height: 100vh;
	width: 100%;

}
/*Nav section*/
.logos{
	width: 10%;
	height: 68%;
	align-content: center;
	margin-top: 0.5%;


}
.logo{
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
	transition: 1s;
}
.logo:hover{
	transform: scale(1.1);
}
.rolls{
	position: absolute;
	top: 4%;
	left: 8%;
	font-family: "Crimson Text", serif;
	font-weight: 900;
	color: var( --text-color);
}

.top{
	width: 100%;
	height: 110%;
	position: relative;
	
}
.img1{
	width: 100%;
	height: 100%;
	margin: 0px;
	transition: 0.8s;
	box-shadow: 3px 3px black;
}
.nav{
	height: 100%;
	width: 75%;
	align-content: center;
	margin-left: 14%;
	position:relative;
}
ul{
	display: inline;
}
li{
	display: inline;
	margin-left: 8%;
	font-size: 125%;
	 background:linear-gradient(var(--text3),var(--text3)) no-repeat bottom left  / 0% 3px;
    transition: 0.5s ease-in-out;
    padding-bottom: 1%;
    cursor: pointer;
    color: var(  --text-color);
}
li:hover{
	 background:linear-gradient(var(--text-color),var(--text-color)) no-repeat bottom left  / 100% 3px;
}
.verytop{
	display: flex;
	height: 15%;
}
.sign{
    width: 2%;
    position: absolute;
    right: 11.8%;
    top: 38%;
}
.img3{
	width: 100%;
	border-radius: 50%;
}
.line{
    width: 5%;
    position: absolute;
    right: 5%;
    top: 36%;
    align-items: center;
    background: none;
}
.line .suny,.moony{
	border-radius: 50%;
	cursor: pointer;
	background: none;
	position: absolute;
	font-size: 20px;
	color: var(  --text-color);
	width: 49%;
	border-radius: 50%;
}
/*Image section*/
.slider{
	position: absolute;
	top: 5%;
	left: 2%;
    color: white;
    padding: 1%;
    text-align: center;
    font-size: 400%;
    font-family: "Roboto", sans-serif;
    animation: slide 1s ease-out 0.3s forwards;
    opacity: 0;
    transition:background 1s ease-in-out;
    background:linear-gradient(white,white) no-repeat bottom left  / 0% 3px;
}
.back{
 background-color: rgba(0,0,0, 0.4);
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0%;
}
.slider:hover{
	background:linear-gradient(white,white) no-repeat bottom left / 100% 3px;
}
.slider1{
	position: absolute;
	top: 20%;
	left: 7%;
    color: white;
    padding: 1%;
    font-size: 400%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    animation: slideOUT 1s ease-out 0.6s forwards;
    transition: background 1s ease-in-out;
    opacity: 0;
     background:linear-gradient(white,white) no-repeat bottom left  / 0% 3px;
}
.slider1:hover{
	background:linear-gradient(white,white) no-repeat bottom left / 100% 3px;
}
.slider2{
	position: absolute;
	top: 10%;
	right: 5%;
    color: white;
    padding: 1%;
    font-size: 200%;
    text-align: center;
    font-family: "Roboto", sans-serif;
   animation: slide 1s ease-out 0.9s forwards;
    background:linear-gradient(white,white) no-repeat bottom left  / 0% 3px;
   transition: 1s ease-in-out;
   opacity: 0;
}
.slider2:hover{
	background:linear-gradient(white,white) no-repeat bottom left / 100% 3px;
}
 @keyframes slideIn {
            from {
                transform: translateY(100%);
                opacity: 0;
            }
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }
@keyframes slideOUT{
	from{
		transform: translateY(100%);
		opacity: 0;
	}
	to{
		transform: translateY(0%);
		opacity: 1;
	}
}
@keyframes slide{
	from{
		transform: translateY(100%);
		opacity: 0;
	}
	to{
		transform: translateY(0%) ;
		opacity: 1;
	}
}
.enter{
	height: 40px;
	width: 20%;
	background: var(--text2);
	color: white;
	border: 0;
	border-radius: 3px;
    animation: slideIn 1s ease-out 0.6s forwards; 
    cursor: pointer;
    opacity: 0;

}
.enter:hover{
	transform: translateY(0%);
	background: #2a2d3e;
	scale: 1.2;
	transition: var(--motion-duration) var(--motion-ease);;
	
}
.button{
	position: absolute;
	top:25%;
	left: 47%;
	width: 50%;
	opacity: 1;
	animation:animation: slideIn 1s ease-out 0.6s forwards; 
	 transition: 1s ease-in-out;

}
/*Content*/
.our ,.cars{
     text-align: center;
     margin-top: 5%;
     font-family: "Roboto", sans-serif;
     font-weight: 700;
     color: var(  --text-color);
}
.cars{
	color:var(--text2) ;
	margin-left: 0.1em;
}
.ourcars{
	display: flex;
	justify-content: center;
	height:20%;
}
.show{
	height: 85%;
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
	background: var(--primary-color);
	margin-left: 0%;
}
.st,.nd,.rd,.th,.fh{
	height: 90%;
	width: 26%;
	margin-left: 4%;
	overflow: hidden;
	background: var(--primary-color);
	border-left: 1px solid grey;
}
.img7{
	max-width: 100%;
	height: 56%;
    overflow: hidden;
    transition: 1s;
    border-radius:10px;
	
}
.img7:hover{
	transform: scale(1.1);
}
.model{
	margin-top: 5%;
	background:linear-gradient(black,black) no-repeat bottom left  / 0% 3px;
    transition: 1s;
    width: 80%;
    margin-left: 14%;
    font-family: "Crimson Text", serif;
    font-weight: 700;
    color: var(--text-color);

}
.model1,.model2{
	margin-top: 5%;
	background:linear-gradient(var(--text-color),var(--text-color)) no-repeat bottom left  / 0% 3px;
    transition: 1s;
    width: 60%;
    margin-left: 20%;
    color: var(--text2);
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.model:hover{
	background:linear-gradient(var(--text-color),var(--text-color)) no-repeat bottom left  / 100% 3px;
}
.model1:hover{
	background:linear-gradient(var(--text-color),var(--text-color)) no-repeat bottom left  / 100% 3px;
}
.model2:hover{
	background:linear-gradient(var(--text-color),var(--text-color)) no-repeat bottom left  / 100% 3px;
}
.model2{
	margin-left: 21%;
}
.price{
	margin-top: 5%;
	font-size: 135%;
	 font-family: "Roboto", sans-serif;
	 margin-left: 30%;
	  color: var(--text-color);
}
.st span.fa-bars{
	position: absolute;
	top: 58%;
	left: 26%;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	font-weight: 900;
	font-size: 25px;
	
}

span.fa-bars:hover{
	 background:#2a2d3e;
	 color: white;
	 
}
span.fa-bars{
    padding: 10px;
}
span.fa-bars{
	color: var(--text-color);
}
.nd span.fa-bars{
	position: absolute;
	top: 58%;
	left: 55%;
    font-weight: 900;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 25px;
	padding-left: 0.9%;
	padding-right: 0.9%;
}
.rd span.fa-bars{
    position: absolute;
	top: 58%;
	left: 84%;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	font-weight: 900;
	font-size: 25px;
	padding-left: 0.9%;
	padding-right: 0.9%;
}

.st span.fa-bars{
	 position: absolute;
	top: 58%;
	left: 26%;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	font-weight: 900;
	font-size: 25px;
	padding-left: 0.9%;
	padding-right: 0.9%;

}
/*Foter*/
.foter{
	height: 50vh;
	width: 100%;
    margin-top:50%;
    background: black;
    display: flex;
}
.downlogo{
	width: 40%;
	height: 20%;
	margin-left: 10%;
	margin-top: 4%;
}

.leftfoter{
	width: 100%;
	height: 100%;
	background:blacksss;
	flex-basis: 25%;
    align-content: center;
    position: relative;
}
.rightfoter{
	flex-basis: 75%;
	    background: black;
	  width: 100%;
	height: 100%;
	display: flex;
}
.tagline{
	text-align: left;
	color: white;
	margin-left: 10%;
	margin-top: 1%;
	font-size: 25px;
}
.email{
	font-size: 100%;
}
.social{
	height: 10%;
	margin-top: 10%;
	margin-left: 5%;
}
i{
	color: white;
	font-size: 30px;
    margin-left: 2%;
	background:#414257 ;
	padding: 10px;
	border-radius: 50%;
}
.contact,.Project,.News{
	color: white;
	margin-left: 7%;
	margin-top: 5%;
}
.vl{
	height: 70%;
	border-left: 5px solid white;
	position: absolute;
	right: 9%;
	top: 14%;
}
.address{
	color:#414257 ;
	margin-left:;
}
/*Hidden1*/
.hidden1,.hidden2,.hidden3,.hidden4,.hidden5,.hidden6,.inside{
	width: 100%;
	height: 100%;
	transform: translateY(100%) ;
	position: fixed;
	transition: transform 1s ease;
	opacity: 1;
	background: black;
	top:0%;
	}
.hidden2{
	height: 103%;
}
.hidden4{
  height: 100%;
  width: 120%;
}
.hidden6{
	width: 110%;
}
.moving1{
	width: 100%;
	height: 120%;
	position: fixed;
}
.para{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.4);
	position:absolute;
}
.bigtag,.bigtag1,.bigtag3,.bigtag4,.bigtag5,.bigtag6,.bigtag7{
	position: absolute;
	color: #b8424c;
	font-family: "Roboto", sans-serif;
	font-size: 50px;
	top: 10%;
	left: 5%;
    opacity: 0;

}
.smalltag,.smalltag1,.smalltag3,.smalltag4,.smalltag5,.smalltag6,.smalltag7{
	position: absolute;
	color: white;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	top: 25%;
	left: 5%;
	width: 30%;
	 opacity: 0;
}
span.fa-arrow-left{
	color: white;
	position: absolute;
	top: 1%;
	left: 2%;
	cursor: pointer;
	font-size: 20px;
	transform: rotate(270deg);
	opacity: 0;
	padding: 20px;
}
span.fa-arrow-left:hover{
	background-color: ;
	border-radius: 50%;
	background: #414257;

}
/*Javascriptcss*/
.downslide{
	transform: translateY(0%);
}
.ani1{
	animation: slide 1s ease-out 0.9s forwards;
	animation-delay:1.6s ;
}
.ani2{
	animation: slide 1s ease-out 0.6s forwards;
	animation-delay: 1.3s;
}
.ani{
	animation: slide 1s ease-out 0.3s forwards;
	animation-delay: 1s;
}
:root{
    --primary-color:white;
    --secondary-color:black;
    --text-color:black;
    --text2:#4445f8;
    --text3:black;
    --about-border:#333;
    --rev-text:#000000;
    --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --motion-duration: 0.4s;
}
.dark{
    --primary-color:black;
    --secondary-color:#FFFFFF;
    --text-color:white;
    --inside:#212121;
    --text2:#b8424c;
    --text3:white;
    --about-border:#333;
    --rev-text:#000000;
    --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --motion-duration: 0.4s;
}
.newsun{
	visibility: hidden;
}
.moon{
	visibility: hidden;
}
.newmoon{
	visibility: visible;
}
